h2, h3, p {
    color: #333333;
}
body.home {
    overflow-x: hidden;
}
body.home #main {
    max-width: none;
    overflow-x: hidden;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
body.home #top {
    margin-bottom: 0;
}
#top #top-nav-main li:last-child {
    margin-right: 0!important;
}
body.home #footer {
    display: block;
    background-color: #F3F3F3;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 18px;
    border: 0;
}
body.home #footer p {
    font-size: 12px;
    line-height: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
    text-align: left!important;
}
body.home .hide-sm {
    border: 0!important;
}
#top #top-nav-main {
    padding-left: 0!important;
    border-left: 0!important;
    margin-left: auto;
}
.max-width-main {
    max-width: 1680px;
}
.normal-padding {
    padding-left: 160px;
    padding-right: 160px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
#header-main-buttons .button{
    border-radius: 0px;
    font-size: 16px;
    padding: 9px 20px;
}
#header-main-buttons .button.primary{
    background-color: #1765FF;
    margin-right: 16px;
}
#header-main-buttons .button.normal{
    color: #333333;
    border: 2px solid #333333;
    background-color: white;
}
#header-main-buttons + .link {
    display: none;
}
#header-main {
    min-height: 43vw;
    padding-top: 13vw;
    text-align: left;
}
.main-title h2 {
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 36px;
    line-height: 32px;
}
.main-title-brief {
    font-size: 24px;
    margin-bottom: 48px;
    line-height: 32px;
    width: 568px;
}
#header-image {
    position: relative;
}
/*
    Convert svg into data url

    svg = svg.replace(/%/g,"%25")
    svg = svg.replace(/#/g,"%23")
    svg = svg.replace(/"/g,"%22")
    svg = svg.replace(/'/g,"%27")
    svg = svg.replace(/ /g,"%20")
    svg = svg.replace(/</g,"%3C")
    svg = svg.replace(/>/g,"%3E")
 */
.wave {
    animation: wave 16.5s infinite linear;
    -webkit-animation: wave 16.5s infinite linear;
    width: 400vw;
    height: 200px;
    min-width: 600px;
    background-repeat: repeat-x;
    background-position: left top;
    transform: scaleX(2);
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%22600%22%20height=%22200%22%20viewBox=%220%200%20600%20200%22%3E%3Cg%20transform=%22rotate(180%20300%201000)%20scale(1%201)%22%3E%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20fill=%22%231765FF%22%20d=%22M0%202000c123%200%20177-49.866%20300-49.866S474%202000%20600%202000V0H0v2000z%22/%3E%3C/g%3E%3C/svg%3E');
}
#wave02 {
    animation: wave 21s infinite linear;
    -webkit-animation: wave 21s infinite linear;
    margin-top: -180px;
    margin-left: -400px;
}
#Banner {
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 56vw;
    height: auto;
}
#wave03 {
    animation: wave 13.5s infinite linear;
    -webkit-animation: wave 13.5s infinite linear;
    position: absolute;
    bottom: -50px;
    left: -200px;
}
#wave04 {
    animation: wave 18s infinite linear;
    -webkit-animation: wave 18s infinite linear;
    position: absolute;
    bottom: -60px;
    left: -500px;
}
@keyframes wave
{
    from { transform: translateX(0) }
    to   { transform: translateX(-600px) }
}

.detail-1{
    clear: both;
    overflow: hidden;
    padding-top: 160px;
    padding-right: 25px;
    padding-bottom: 120px;
    padding-left: 25px;
    background-color: #1765FF;
    color: #ffffff;
    transform: translateY(-100px);
}
.detail-1 > * {
    color: #ffffff;
}
.detail-1 h3 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
}
.detail-1 p {
    max-width: 900px;
    font-size: 18px;
    line-height: 32px;
}

.relative {
    position: relative;
}
.detail-2 {
    max-height: 480px;
    height: calc(22vw + 120px);
}
.detail-2 h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 43px;
}
.detail-2 p {
    font-size: 18px;
    line-height: 32px;
    padding-right: 30px;
}
.detail-2-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 0;
    padding-top: 120px;
}
.detail-2-right{
    position: absolute;
    top: 0;
    left: 53%;
    width: 720px;
    height: calc(22vw + 70px);
    max-height: 480px;
    overflow-y: hidden;
    overflow-x: visible;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04), 16px 24px 32px rgba(0, 0, 0, 0.04);
}

.detail-2-right img{
    width: 720px;
    max-width: 720px;
    height: auto;
    z-index: 888;
}

.detail-2-left p{
    line-height: 1.5rem;
    color: #666;
}

#kube-features h3,
#kube-features p {
    text-align: left!important;
}
#kube-features p {
    font-size: 18px!important;
    line-height: 32px;
}
#kube-features .item {
    background: #F8F8F8;
    padding: 24px 24px 8px;
}
#kube-features .item:nth-of-type(n+4) {
    margin-top: 20px!important;
}
.row,
#partners-left .flex {
    flex-direction: row!important;
    flex-wrap: wrap!important;
}
#kube-features .row.gutters>.col,
.row.gutters>.row>.col,
#partners-left .item-inner .col {
    margin-left: 20px!important;
}
#kube-features .gutters>.col-4,
#partners-left .item-inner .col-4 {
    width: calc(33.33333% - 20px)!important;
}
#kube-features .row.gutters,
.row.gutters>.row {
    margin-left: -20px!important;
}

#kube-features .item-figure img {
    width: 64px;
    height: 64px;
}
#partners {
    padding-bottom: 120px;
    padding-top: 40px;
}
#partners .item-inner {
    border-top: 4px solid #F4F4F4;
    border-bottom: 4px solid #F4F4F4;
}
.partners-logo {
    width: 100%;
    height: auto;
    border: 1px solid #F3F3F3;
    width: 250px;
}
#partners-left .item-inner {
    padding: 30px 48px 32px 4px;
}
#partners-right.item-inner {
    padding: 30px 4px 32px 4px;
}
.partners-img-wrapper {
    padding-left: 20px;
}
.partners-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
}


.e1{
    font-size: 15px;
    color: #3b70e0;
    border: 1px solid #3b70e0;
    background-color:white;
    padding: 0 15px 0 10px;
    line-height: 40px;
}
.e1 .text{
    color: #3b70e0;
}
.e2{
    background-color: #3b70e0;
    color: #fff;
    border: 1px solid transparent;
    padding: 0 15px 0 10px;
    line-height: 40px;
    margin-right: 8px;
}
.e2 .text{
    color: #fff;
}
.buttonlink{
    font-size: 15px;     
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
}
.buttonlink:hover{color: inherit}
.buttonlink .link{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.buttonlink .text{
    vertical-align: middle;
}
.button1{
    font-size: 15px;
    color: #fff;
    background-color: #3b70e0;
    border-radius: 3px;
    min-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;
    text-decoration: none;
}
 a.button1{
    display: table-cell;
    vertical-align: middle;
 }
 .e3{
    background-color: #3b70e0;
    color: #fff;
    border: 1px solid transparent;
    padding: 3px 30px 3px 30px;
    line-height: 35px;
}

.kube-menu:before {
    color: #666;
}

/* .item-figure{
    text-align: left;
} */
@media (max-width: 1600px) {
    .partners-logo {
        width: 200px;
    }
}
@media (max-width: 1440px) {
    .main-title h2 {
        font-size: 48px;
        margin-bottom: 28px;
    }
    .main-title-brief {
        font-size: 18px;
        line-height: 28px;
        width: 450px;
    }
    .detail-1 h3,
    .detail-2 h3 {
        font-size: 40px;
        line-height: 40px;
    }
    .detail-1 p,
    .detail-2 p {
        font-size: 14px;
        line-height: 24px;
    }
    .detail-2-left {
        width: 52%;
        padding-top: calc(5vw + 20px);
    }
    #kube-features p {
        font-size: 14px!important;
        line-height: 24px;
    }
    .partners-logo {
        width: 180px;
    }
    .partners-title {
        font-size: 12px;
        line-height: 12px;
    }
    #partners {
        padding-top: 0;
    }
}

@media (max-width: 1279px) {
    .partners-logo {
        width: 150px;
    }
}

@media (max-width: 1140px) {
    .partners-logo {
        width: 120px;
    }
    #partners-left .item-inner {
        padding: 30px 20px 32px 0px;
    }
    #partners-right.item-inner {
        padding: 30px 0px 32px 0px;
    }
}

@media (max-width: 960px) {
    .normal-padding {
        padding-left: 25px;
        padding-right: 25px;
    }
    #Banner {
        width: 95%;
    }
    #header-main {
        min-height: calc(80vw + 250px);
        text-align: center;
        padding-top: 100px;
    }
    .main-title-brief {
        max-width: 450px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #wave02 {
        margin-top: -180px;
        margin-left: 300px;
    }
    .detail-1 {
        padding-left: 48px;
        padding-right: 48px;
    }
    .detail-2 {
        text-align: center;
        height: auto;
        max-height: none;
        padding-bottom: 80px;
    }
    .detail-2-left,
    .detail-2-right {
        position: relative;
        width: auto;
        left: 0;
    }
    .detail-2-left {
        height: auto;
        padding: 20px;
    }
    .detail-2-right {
        width: 720px;
        height: calc(50vw + 90px);
    }
    #kube-features {
        margin-top: 40px!important;
    }
    #kube-features .item:nth-of-type(n+3) {
        margin-top: 20px!important;
    }
    #kube-features .row.gutters>.col,
    #kube-features .row.gutters>.row>.col {
        margin-left: 20px!important;
    }
    #kube-features .gutters>.col-4 {
        width: calc(50% - 20px)!important;
    }
    #kube-features .row.gutters .col {
        margin-bottom: 0!important;
    }
    .partners-logo {
        width: 150px;
    }
}
@media (max-width: 768px) {
    .partners-logo {
        width: 180px;
    }
    #partners-left {
        margin-bottom: 24px;
    }
    .row.gutters #partners-left .col {
        margin-bottom: 0!important;
    }
}

@media (max-width: 480px) {
    .normal-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    #header-main {
        min-height: calc(80vw + 300px);
    }
    .main-title-brief {
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 14px;
        padding-right: 14px;
    }
    #header-main-buttons .button.primary {
        margin-right: 0;
        margin-bottom: 18px;
    }
    #header-main-buttons .button.normal {
        display: none;
    }
    #header-main-buttons + .link {
        display: inline;
        text-decoration: none;
        color: #333333;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .detail-1 {
        text-align: left!important;
        padding-left: 25px;
        padding-right: 25px;
    }
    .detail-2 h3 {
        line-height: 48px;
        max-width: 210px;
    }
    .detail-2-left {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
    .detail-2-left p {
        margin-bottom: 0!important;
    }
    #kube-features {
        margin-top: 20px!important;
    }
    #kube-features .item-figure img {
        width: 32px;
        height: 32px;
    }
    #kube-features .item-figure {
        float: left;
        margin-right: 8px;
        margin-bottom: 0px;
    }
    #kube-features h3 {
        font-size: 20px;
        line-height: 20px;
        padding-top: 6px;
        margin-bottom: 0px;
    }
    #kube-features .more-btn {
        float: right;
        display: inline-block;
        width: 16px;
        height: 2px;
        background: #C4C4C4;
        transform: translate(0px, 16px);
    }
    #kube-features .more-btn::after {
        content: '';
        display: block;
        width: 16px;
        height: 2px;
        background: #C4C4C4;
        transform: rotate(-90deg);
    }
    #kube-features p {
        display: none;
        padding-left: 40px;
    }
    #kube-features .item {
        margin-top: 10px!important;
        padding-bottom: 18px;
        cursor: pointer;
    }
    #kube-features .item:nth-of-type(n+3) {
        margin-top: 10px!important;
    }
    #kube-features .item.active {
        padding-bottom: 8px;
    }
    #kube-features .item.active .more-btn {
        display: none;
    }
    #kube-features .item.active p {
        display: block;
    }
    #kube-features .row.gutters>.col,
    .row.gutters>.row>.col {
        margin-left: 0px!important;
    }
    #kube-features .row.gutters,
    .row.gutters>.row {
        margin-left: 0px!important;
    }
    #kube-features .gutters>.col-4,
    #partners-left .item-inner .col-4 {
        width: 100%!important;
    }
    #partners-left .item-inner .col-4 {
        margin-bottom: 4px;
    }
    #partners-left .item-inner {
        padding: 30px 20px 32px 0px;
    }
    #partners-right.item-inner {
        padding: 30px 20px 32px 0px;
    }
    .partners-logo {
        width: 200px;
    }
}


